@import "./../utils/colors.scss";

footer {
    padding: 1rem 1.5rem;
    color: white;
    background-color: $darkgrey;
    h2 {
        font-family: 'Shrikhand', 'sans-serif';
        font-weight: 500;
        padding-bottom: inherit;
    }
    p {
        padding: 0.2rem;
    }
}