@import "../utils/mixins.scss";


.search {
    text-align: center;
    background-color: #f2f2f2;
    padding: 2rem;
& h2 {
    margin: auto;
    font-size: 2rem;
}
& p {
    font-size: 1.5rem;
}
& button {
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    margin-top: 1rem;
    border: none;
    border-radius: 2rem;
    transition: transform 190ms;
    @include gradient(0.9);
    @include shadow;
}
& button:hover {
    transform: scale(1.02);
    opacity: 0.9;
}
}

