@import "../utils/mixins.scss";


.search {
    text-align: center;
    background-color: #f2f2f2;
    padding: 2rem;
& h2 {
    margin: auto;
    font-size: 2rem;
}
& p {
    font-size: 1.5rem;
}
& button {
    @include base-button;
}
}

