@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
*, ::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "roboto", sans-serif;
}

h3, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  font-family: "Shrikhand", cursive;
  text-align: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  padding: 0.3rem;
  position: relative;
}

.place {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
  padding: 0.5rem;
  background-color: #eaeaea;
}
.place i {
  font-size: 1.5rem;
}

.search {
  text-align: center;
  background-color: #f2f2f2;
  padding: 2rem;
}
.search h2 {
  margin: auto;
  font-size: 2rem;
}
.search p {
  font-size: 1.5rem;
}
.search button {
  cursor: pointer;
  color: white;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  margin-top: 1rem;
  border: none;
  border-radius: 2rem;
  transition: transform 190ms;
  background-image: linear-gradient(to top, rgba(145, 85, 220, 0.9), rgba(255, 120, 218, 0.9));
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.8);
}
.search button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

.operation {
  counter-reset: list;
  padding: 2rem;
}
.operation ol {
  display: flex;
  padding-left: initial;
  gap: 2rem;
}
@media (max-width: 1000px) {
  .operation ol {
    flex-direction: column;
  }
}
.operation li {
  position: relative;
  list-style-type: none;
  padding: 1.5rem 2rem;
  background-color: #f6f6f6;
  flex: 1;
  border-radius: 1rem;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.8);
}
.operation li::before {
  content: counter(list);
  counter-increment: list;
  color: white;
  background-color: #9356dc;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: -1rem;
  transform: translateY(-50%);
}
.operation li:hover {
  transform: scale(1.02);
  opacity: 0.9;
  cursor: pointer;
}
.operation li i {
  margin-right: 1rem;
  color: #7e7e7e;
  font-size: 1.5rem;
}

.menus {
  background-color: #f6f6f6;
  padding: 2rem;
  margin-bottom: 2rem;
}
.menus h2 {
  margin-bottom: 2rem;
}
.menus .menus__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
@media (max-width: 1000px) {
  .menus .menus__cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
.menus .menus__cards .new {
  position: relative;
}
.menus .menus__cards .new::before {
  content: "Nouveau";
  position: absolute;
  height: 2rem;
  width: 5rem;
  background-color: #99e2d0;
  color: #1b6150;
  display: grid;
  place-items: center;
  right: 1rem;
  top: 1rem;
}
.menus .card__img {
  width: 100%;
  height: 16rem;
  border-radius: 1rem 1rem 0 0;
  object-fit: cover;
}
.menus .card__description {
  position: relative;
  background-color: white;
  border-radius: 0 0 1rem 1rem;
}
.menus .card__description h3, .menus .card__description p {
  padding: 0.5rem;
  padding-left: 1rem;
}
.menus .card__description p {
  padding-bottom: 1rem;
}
.menus .card__description i {
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
.menus .card__description .fas {
  color: transparent;
  background-clip: text;
  opacity: 0;
  transition: all 200ms;
  background-image: linear-gradient(to top, #9155dc, #ff78da);
}
.menus .card__description:hover .fas {
  opacity: 1;
  transform: translateY(-50%) scale(1.1);
}

footer {
  padding: 1rem 2rem;
  color: white;
  background-color: #353535;
}
footer h2 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 500;
}
footer p {
  padding: 0.2rem;
}

/*# sourceMappingURL=style.css.map */
